<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Answer Result</title>
  <link href="http://cdn.bootcss.com/bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
  <style type="text/css">
    body {
      font-family: "맑은 고딕", Arial;
      -webkit-font-smoothing: antialiased;
    }
    .table thead th {
      white-space: nowrap;
      background: #f0f0f0;
    }
    textarea {
      overflow: auto;
      resize: none;
    }
  </style>
</head>
<body>
<div class="container">
  <h2 class="text-center">Answer Result</h2>
  <table class="table table-condensed table-hover table-bordered">
    <thead>
    <tr>
      <th class="span1">User Id</th>
      <th class="span2">No</th>
      <th class="span1">Edit Times</th>
      <th>Edit Record</th>
    </tr>
    </thead>
    <tbody>
    <% list.forEach( function ( q, i ){ %>
    <tr>
      <td><%= q.user_id %></td>
      <td>Question <%= q.question %></td>
      <td><%= q.editTimes %></td>
      <td>
        <% q.contTable.split(',').forEach(function (time) { %>
          <span class="label"><%= time %></span>
        <% }); %>
      </td>
    </tr>
    <tr>
      <td>User Answer</td>
      <td colspan="3"><textarea class="span9" rows="4"><%= q.content%></textarea></td>
    </tr>
    <tr class="info">
      <td colspan="4"></td>
    </tr>
    <% }); %>
    </tbody>
  </table>
</div>
</body>
</html>