<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>欢迎进行测试</title>
  <link href="http://cdn.bootcss.com/bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h4>答卷结果</h4>
    <form class="form-inline" action="/list" method="get">
      <label for="type">测试方式</label>
      <select name="type" class="span2">
        <option value=""></option>
        <option value="1">测试一</option>
        <option value="2">测试二</option>
      </select>
      <label for="type">测试问题</label>
      <select name="question" class="span2">
        <option value=""></option>
        <option value="1">问题一</option>
        <option value="1">问题二</option>
      </select>
      <input type="submit" class="btn" value="查询"/>
    </form>
    <table class="table table-condensed table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>方式</th>
          <th>问题</th>
          <th>测试人员</th>
          <th>测试答案</th>
        </tr>
      </thead>
      <tbody>
      <% list.forEach( function ( q, i ){ %>
          <tr>
            <td><%=i+1%></td>
            <td><%= q.type %></td>
            <td><%= q.question %></td>
            <td><%= q.user_id %></td>
            <td><textarea class="span6"><%= q.content%></textarea></td>
          </tr>
      <% }); %>
      </tbody>
    </table>
</body>
</html>